<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/css/style.css' />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>
      <p>Welcome to the BlokSec OIDC example application. This application demonstrates how to configure a base OIDC client to integrate with the BlokSec identity provider (IdP)</p>

      <form action="/auth">
        <input type="submit" value="Login">
      </form>
      <p><a href="sign-up.html">Register for access</a></p>
    </div>
  </body>
</html>
