<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8" />
  <title>Priva - Insurance Company</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Priva - Insurance Company" name="description" />
  <meta content="" name="keywords" />
  <meta content="" name="author" />

  <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

  <!-- CSS Files
    ================================================== -->
  <link href="css/jpreloader.css" rel="stylesheet" type="text/css">
  <link id="bootstrap" href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link id="bootstrap-grid" href="css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
  <link id="bootstrap-reboot" href="css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
  <link href="css/animate.css" rel="stylesheet" type="text/css" />
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
  <link href="css/owl.transitions.css" rel="stylesheet" type="text/css" />
  <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" />
  <link href="css/jquery.countdown.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />

  <!-- color scheme -->
  <link id="colors" href="css/colors/scheme-02.css" rel="stylesheet" type="text/css" />
  <link href="css/coloring.css" rel="stylesheet" type="text/css" />


</head>

<body>
  <div id="wrapper">
    <!-- header begin -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="de-flex sm-pt10">
              <div class="de-flex-col">
                <!-- logo begin -->
                <div id="logo">
                  <a href="index.html">
                    <img alt="" class="logo" src="images/logo-light.png" />
                    <img alt="" class="logo-2" src="images/logo.png" />
                  </a>
                </div>
                <!-- logo close -->
              </div>
              <div class="de-flex-col header-col-mid">
                <!-- mainmenu begin -->
                <ul id="mainmenu">
                  <li>
                    <a href="index.html">Home<span></span></a>
                  </li>
                  </li>
                  <li>
                    <a href="index.html">About Us<span></span></a>
                  </li>
                  <li>
                    <a href="index.html">Contact Us<span></span></a>
                  </li>
                  <li>
                    <a href="#">Login<span></span></a>
                    <ul>
                      <li><a href="imember.html">Members Portal</a></li>
                      <li><a href="login_broker.html">Brokers Portal</a></li>
                      <li><a href="login_provider.html">Providers Portal</a></li>
                      <li><a href="login_employer.html">Employers Portal</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="de-flex-col">
                <div class="h-phone"><span>Need&nbsp;Help?</span><i class="fa fa-phone id-color-secondary"></i> 1 200
                  300 9000</div>
                <span id="menu-btn"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header close -->
    <!-- content begin -->
    <div class="no-bottom no-top" id="content">
      <div id="top"></div>

      <section aria-label="section" class="no-top no-bottom vh-100 text-light text-center"
        data-bgimage="url(images/background/19.jpg) top">
        <div class="v-center">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 offset-md-3">
                <div class="spacer-single"></div>
                <h6 class="wow fadeInUp" data-wow-delay=".5s"><span class="text-uppercase id-color-2">Your Health
                    Insurance Company</span></h6>
                <div class="spacer-10"></div>
                <h1 class="text-uppercase">Making healthcare better together.</h1>
                <p class="lead">We provide health plans for you and your family, for every age and stage</p>
                <div class="mb-sm-30"></div>
              </div>

              <div class="col-md-12">
                <div class="de-flex">
                  <a href='members.html' class="icon-box s2 rounded">
                    <i class="icofont-group"></i>
                    <span>
                      <h6>Member</h6><br><br>Learn about your health plan or find coverage for you and your family
                    </span>
                  </a>

                  <a href='providers.html' class="icon-box s2 rounded">
                    <i class="icofont-stethoscope-alt"></i>
                    <span>
                      <h6>Provider</h6><br><br>Join our network, and together, we'll give patients access to the highest
                      quality, safest and most effective health care
                    </span>
                  </a>

                  <a href='brokers.html' class="icon-box s2 rounded">
                    <i class="icofont-briefcase"></i>
                    <span>
                      <h6>Broker</h6><br><br>Find the information and resources you need to meet your clients' needs.
                    </span>
                  </a>

                  <a href='employers.html' class="icon-box s2 rounded">
                    <i class="icofont-institution"></i>
                    <span>
                      <h6>Employer</h6><br><br>Explore our savings, quality care and wellness solutions to craft the
                      perfect plan for your business.
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section-about-us-2" class="no-padding" data-bgcolor="#F2F6FE">
        <div class="image-container col-md-6 pull-left" data-bgimage="url(images/background/20.jpg) center"></div>

        <div class="container">
          <div class="row">
            <div class="inner-padding">
              <div class="col-md-6 offset-md-7" data-animation="fadeInRight" data-delay="200">
                <span class="p-title invert text-light">Priva Insurance</span><br>
                <h2>
                  Your partner for health insurance
                </h2>
                <div class="small-border bg-color-secondary sm-left"></div>

                <p>
                <h5>"They listened and spend time with us to understand our health and family needs.

                  We were given the options to best meet our health needs."</h5>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

      </section>


      <section class="bg-color-secondary pt40 pb40 text-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8 mb-sm-30">
              <h3 class="no-bottom">Learn more about Bryan and Lilian's story</h3>
            </div>

            <div class="col-md-4 text-right">
              <a href="#" class="btn-custom">Happy Story</a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="feature-box f-boxed style-3">
                <i class="bg-color i-boxed fa fa-newspaper-o"></i>
                <div class="text">
                  <h4>Health News</h4>
                  Stay up-to-date with today’s latest health care trends.<br><br>

                  <u>Read news ></u>
                </div>
                <i class="wm fa fa-newspaper-o"></i>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="feature-box f-boxed style-3">
                <i class="bg-color i-boxed fa fa-info"></i>
                <div class="text">
                  <h4>About Us</h4>
                  We’re a health care company that’s building a healthier world.<br><br>
                  <u>Get to know us ></u>
                </div>
                <i class="wm fa fa-info"></i>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="feature-box f-boxed style-3">
                <i class="bg-color i-boxed fa fa-briefcase"></i>
                <div class="text">
                  <h4>Careers</h4>
                  Want to help transform health care? Join our team.<br><br>
                  <u>Explore Careers ></u>
                </div>
                <i class="wm fa fa-briefcase"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section data-bgimage="url(images/background/21.jpg) top" class="text-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".2s">
              <h2>Call us for further information. Priva customer care is here to help you anytime.</h2>
              <p class="lead id-color-secondary">We're available for 24 hours!</p>
            </div>

            <div class="col-md-6 text-lg-center text-sm-center wow fadeInRight" data-wow-delay=".4s">
              <div class="phone-num-big">
                <i class="fa fa-phone id-color-secondary"></i>
                <span class="pnb-text">
                  Call Us Now
                </span>
                <span class="pnb-num">
                  1 200 333 800
                </span>
              </div>
              <a href="#" class="btn-custom invert capsule med">Contact Us</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- content close -->

    <a href="#" id="back-to-top"></a>

    <!-- footer begin -->
    <footer class="footer-light">
      <div class="container">
        <div class="row">

          <div class="col-lg-3">
            <div class="widget">
              <h5>Our Company</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Why Choose Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">News</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="widget">
              <h5>Quick Links</h5>
              <ul>
                <li><a href="members.html">For Members</a></li>
                <li><a href="providers.html">For Providers</a></li>
                <li><a href="brokers.html">For Brokers</a></li>
                <li><a href="employers.html">For Employers</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="widget">
              <h5>Get In Touch</h5>
              We're here to listen:
              <address class="s1">
                <span><i class="fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                <span><i class="fa fa-phone fa-lg"></i>+1 200 300 9000</span>
                <span><i class="fa fa-envelope-o fa-lg"></i><a href="#">contact@example.com</a></span>
                <span><i class="fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
              </address>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="widget">
              <h5>Newsletter</h5>

              <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
              <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                <div class="col text-center">
                  <input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text" /> <a
                    href="#" id="btn-submit"><i class="arrow_right bg-color-secondary"></i></a>
                  <div class="clearfix"></div>
                </div>
              </form>
              <div class="spacer-10"></div>
              <small>Your email is safe with us. We don't spam.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="subfooter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="de-flex">
                <div class="de-flex-col">
                  &copy; Copyright 2021 - Priva by Designesia
                </div>

                <div class="de-flex-col">
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                    <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>
    <!-- footer close -->


  </div>



  <!-- Javascript Files
    ================================================== -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jpreLoader.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/easing.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/validation.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/enquire.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.plugin.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/jquery.countdown.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/designesia.js"></script>

  <script>
    $(function () {
      // jquery typed plugin
      $(".typed").typed({
        stringsElement: $('.typed-strings'),
        typeSpeed: 100,
        backDelay: 1500,
        loop: true,
        contentType: 'html', // or text
        // defaults to false for infinite loop
        loopCount: false,
        callback: function () { null; },
        resetCallback: function () { newTyped(); }
      });
    });
  </script>

</body>

</html>
