<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Font Awesome Min CSS -->
        <link rel="stylesheet" href="assets/css/fontawesome.min.css">
        <!-- FlatIcon CSS -->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- NiceSelect CSS -->
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <!-- Slick Min CSS -->
        <link rel="stylesheet" href="assets/css/slick.min.css">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Odometer CSS -->
		<link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Luvion - Online Banking & Payment Processing HTML Template</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Signup Area -->
        <section class="signup-area">
            <div class="row m-0">
                <div class="col-lg-6 col-md-12 p-0">
                    <div class="signup-image">
                        <img src="assets/img/signup-bg.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 p-0">
                    <div class="signup-content">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <div class="signup-form">
                                    <div class="logo">
                                        <a href="index.html"><img src="assets/img/luvion_logo_black.svg" alt="logo" width="120" height="120"></a>
                                    </div>

                                    <h3>Open up your Luvion Account now</h3>
                                    <p>Already signed up? <a href="login.html">Log in</a></p>

                                    <form method="POST" name="form" action="">
                                        <div class="form-group"><input type="text" name="firstName" id="firstName" placeholder="First Name" placeholder="First Name" class="form-control"/></div>
                                        <div class="form-group"><input type="text" name="lastName" id="lastName" placeholder="Last Name" onblur="
                                       if(document.form.username.value=='' && document.form.firstName.value!='' && document.form.lastName.value!='') {
                                             var username = '';
                                             if(document.form.lastName.value.length >= 4) {
                                                  username = document.form.firstName.value.substr(0,1) + document.form.lastName.value.substr(0,49);
                                             } else {
                                                  username = document.form.firstName.value.substr(0,4) + document.form.lastName.value.substr(0,49);
                                             }
                                             username = username.replace(/\s+/g, '');
                                             username = username.replace(/\'+/g, '');
                                             username = username.replace(/-+/g, '');
                                             username = username.toLowerCase();
                                             var day = new Date();
                                             var month = new Date();
                                             var min = new Date();
                                             document.form.username.value = username+month.getMonth()+day.getDate()+min.getMinutes();
                                        }" class="form-control"/></div>
                                        <div class="form-group"><input type="text" name="username" id="username" placeholder="User Name" class="form-control" readonly="true"/></div>
                                        <div class="form-group"><input type="email" name="email" id="email" placeholder="Email" class="form-control"/></div>
                                        <div class="form-group"><input type="mobile" name="mobile" id="mobile" placeholder="Mobile Number" class="form-control" /></div>
                                        <button type="submit" class="btn btn-primary">Sign Up</button>   
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login Area -->

        <!-- jQuery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Mean Menu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- NiceSelect Min JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Slick Min JS -->
        <script src="assets/js/slick.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Appear Min JS -->
		<script src="assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Parallax Min JS -->
        <script src="assets/js/parallax.min.js"></script>
        <!-- WOW Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </body>
</html>
